{{>head}}

    {{>navbar}}

    <div class="row">
        <div class="col-8">
            <h1>Darth Vader</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates pariatur, quas hic voluptas optio eum perferendis consequatur. Cum voluptatem laborum dicta eum aliquid pariatur illo tempore! Molestiae dicta commodi voluptate.
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/Darth-Vader.jpg" class="img-thumbnail">
        </div>
    </div>


{{>footer}}